/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*FINE RESET*/

/*INIZIO REGOLE GENERALI*/
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*FINE REGOLE GENERALI*/

/* HEADER */
header {
  background: #0c325a;
  height: 500px;
  color: white;
  background-image: url(../img/background-header.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

header .menu .col {
  float: left;
  margin-top: 15px;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/*header top menu*/
header .menu .col-left {
  width: 15%;
}

header .menu .col-center {
  width: 46%;
}

header .menu .col-right {
  width: 39%;
  text-align: right;
}

header .menu ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 13px;
  padding: 4px;
  line-height: 42px;
}

header .menu ul li a:hover {
  color: yellow;
}

header .menu .col-right .login{
  border-radius: 5px;
  border: 1px solid white;
  padding: 4px 28px;
}

header .menu .col-right .piano {
  border-radius: 5px;
  padding: 6px 11px;
  background-color: #7cbb02;
}

/* fine header top menu*/

/* header bottom*/
header .cta {
  padding-top: 10%;
  width: 55%;
}

header .cta h1 {
  font-size: 55px;
}

header .cta p {
  margin-top: 7%;
  border-radius: 5px;
  padding: 20px 12px;
  background-color: #7cbb02;
  width: 32%;
}

header .cta a:hover {
  color: yellow;
}
/* fine header bottom*/
/* FINE HEADER */

/* MAIN  */
main {

}

main p {
  color: #868686;
  font-size: 16px;
  font-weight: bold;
}

/* inizio main top line */
main .top-line {
  background: #d3d3d3;
  text-align: center;
  padding: 30px;
  line-height: 45px;
  font-size: 20px;
}
/* fine main top line */

/* inizio main center line */
main .center-line {
  width: 100;
  padding: 40px 0;
}

main .center-line .col {
  float: left;
  text-align: center;
}

main .center-line .col h4 {
  color: #7fbd08;
  font-size: 26px;
}

main .center-line .col.col-left {
  width: 32%;
}

main .center-line .col.col-center {
  width: 32%;
  margin: 0 21px;
}

main .center-line .col.col-right {
  width: 32%;
}

main .center-line .col img {
  height: 150px;
  margin-bottom: 25px;
}

main .center-line .col hr {
  width: 80px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
/* fine main center line */

/* inizio main bottom line */
main .bottom-line .colonna {
  float: left;
}

main .bottom-line .colonna.sinistra {
  width: 45%;
}

main .bottom-line .colonna.destra {
  width: 45%;
  margin-left: 85px;
}

main .bottom-line {
  padding: 40px;
}

main .bottom-line img {
  height: 380px;
}

main .bottom-line .colonna.destra p {
  margin: 20px 0;
  font-size: 20px;
}

main .bottom-line .colonna.destra h3 {
  font-size: 37px;
}
/* fine main bottom line */
/* FINE MAIN */

/* FOOTER */
footer {
  background: #d3d3d3;
  padding: 50px 0;
}

footer .footer {
  float: left;
}

footer .footer.col-left {
 width: 50%;
 font-size: 30px;
}

footer .footer.col-right {
 width: 50%;
 line-height: 53px;
 text-align: right;
}

footer .footer.col-right .visual-piano {
  border-radius: 5px;
  padding: 20px 12px;
  background-color: #7cbb02;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer.col-right p {
  display: inline-block;
  color: #868686;
  font-weight: bold;
}

footer .footer.col-right .seleziona {
  margin: 0 20px;
}

footer .foot .col-right a:hover {
  color: yellow;
}

/* FINE FOOTER */
